{% extends "pics/base_generic.html" %}
{% block content %}
    <strong>Flickr to Slideshow Photo App</strong>

    <p>Create and maintain the background slideshow based on pictures from flickr.</p>
    <p><strong>Current statistics:</strong></p>
    <ul style="list-style-type:circle">
        <li>{{ public_pictures }} public photos</li>
        <li>{{ total_views }} total views</li>
        <li>{{ eligible }} photos eligible for slideshow</li>
        <li>{{ actual }} photos actually in slideshow</li>
    </ul>

    <p><strong>Actions:</strong></p>
    <ul style="list-style-type:none">
        <li><a href="{% url 'update_db' %}">Update Picture Database</a></li>
        <li><a href="{% url 'download_pics' %}">Download Pictures</a></li>
        <li><a href="{% url 'process_slides' %}">Process Slides</a></li>
        <li><a href="{% url 'rebuild_db' %}">Rebuild Picture Database (delete current db and start from scratch)</a></li>
    </ul>

{% endblock %}