{% extends "pics/base_generic.html" %}
{% block content %}
    <strong>Picture Info</strong>
    <p></p>
    <img src="{{ url }}" />
    <ul style="list-style-type:circle">
        <li>Title: {{ title }}</li>
        <li>Description: {{ desc }}</li>  
        <li>Date Taken: {{ date_taken }}</li>
        <li>Tags: {{ tags|join:", " }}</li>
        <li>Views: {{ view_count }}</li>
        <li>Local file: {{ local }}</li>
        <li>Excluded: {{ excluded }}</li>
        <li>Included: {{ included }}</li>
    </ul>
{% endblock %}