{% extends "pics/base_generic.html" %}
{% block content %}
    <strong>Search Results</strong>
    <table class="table">
        <thead>
                <tr>
                    <th scope="col">Info</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date Taken</th>
                    <th scope="col">View Count</th>
                </tr>
        </thead>
        <tbody>
            {% for pic in picture_list %}
            <tr>
                <td><a href="{% url 'picture_info' pic.pic_id %}">Info</a></td>
                <td>{{ pic.title }}</td>
                <td>{{ pic.date_taken }}</td>
                <td>{{ pic.view_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}